*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: hsl(0, 0%, 96%);
    font-family: 'Nunito Sans', sans-serif;
    font-size:14px;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding-block:15px;
    background-color: hsl(0, 100%, 100%);
     padding-inline:60px; 
     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.color-sheme{
    display: flex;
    align-items: center;
    gap:7px;
    cursor:pointer;
}
.color-sheme i{
   font-size: 15px; 
}
@media (max-width:767px){
    .header{
        padding-inline:30px; 
        padding-block: 30px;
    }
}
@media (max-width:481px){
      .header{
        padding-inline:10px; 
       
    }
}